/* q2 */

*{
    font-family: 'Times New Roman';
}
/* q1 */
.heading1{
    text-align: center;
    text-transform: capitalize;

}

/* q3 */

#outer{
    font-size: 25px;
}
#inner{
    font-size: 10px;
}
